.header-bg {
  height: 860px;
  width: 100%;
  position: absolute;
  padding: 45px;
  background: linear-gradient(115deg, #56ccf2 75%, #f8fcfb 75%, #f8fcfb 100%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  &__box {
    width: 72%;
    margin: auto;
  }
}
