.body__main {
  margin-top: 490px; }

.section-heading {
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2; }
  .section-heading:before {
    content: url("../images/sub-title/sub-title-icon-dark.svg");
    margin-right: 16px; }
  .section-heading--lite {
    color: #fff; }
    .section-heading--lite:before {
      content: url("../images/sub-title/sub-title-icon-light.svg"); }

.subheading {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.4;
  color: #253757;
  padding-bottom: 64px; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px; }

.welcome {
  width: 745px;
  padding-bottom: 160px; }
  .welcome__text {
    font-family: Muli, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: #253757; }

.specification {
  background-color: #fff;
  width: 100vw; }
  .specification__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 1;
    text-align: center;
    position: relative;
    bottom: 70px;
    color: #253757; }

.directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 162px; }
  .directions__item {
    width: 264px;
    margin-right: 128px; }
    .directions__item:last-child {
      margin: 0; }
  .directions__img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 64px; }
  .directions__heading {
    font-weight: 900;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px; }

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 160px; }
  .process__item {
    width: 362px;
    margin-right: 187px; }
  .process__text {
    font-size: 16px;
    color: #334563; }

.cards {
  display: grid;
  grid-template-columns: repeat(2, 240px);
  grid-template-rows: repeat(2, 260px);
  grid-column-gap: 58px;
  grid-row-gap: 128px;
  margin-top: 65px; }
  .cards__item {
    width: 240px;
    height: 256px;
    background-color: #fff;
    -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
            box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    text-align: center;
    font-size: 13px;
    color: #253757;
    padding: 0 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .cards__item:first-child, .cards__item:nth-child(3) {
      margin-top: 116px; }
    .cards__item:nth-child(3), .cards__item:nth-child(4) {
      z-index: 1; }
  .cards__number {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    opacity: 0.1;
    position: relative;
    left: calc(120px - 58px);
    top: 48px; }
    .cards__number--1 {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#56ccf2), to(#56ccf2)), #c4c4c4;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #56ccf2, #56ccf2), #c4c4c4; }
    .cards__number--2 {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
    .cards__number--3 {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#03d542), to(#03d542)), #c4c4c4;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #03d542, #03d542), #c4c4c4; }
    .cards__number--4 {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
  .cards__num {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 15px; }
    .cards__num--1 {
      color: #56ccf2; }
    .cards__num--2 {
      color: #fcc304; }
    .cards__num--3 {
      color: #13d84e; }
    .cards__num--4 {
      color: #f36363; }

.features {
  position: relative;
  width: 1600px;
  height: 976px;
  background: #56ccf2;
  overflow: hidden;
  bottom: 47px; }
  .features__info {
    margin-left: 227px;
    margin-top: 198px;
    width: 364px; }
  .features__text {
    display: inline-block;
    color: #fff;
    width: 263px;
    margin-bottom: 64px; }
  .features .icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-right: 32px;
    margin-bottom: 14px; }
  .features__icon--1 {
    background: url("../images/features/features-item-icon-1.svg"); }
  .features__icon--2 {
    background: url("../images/features/features-item-icon-2.svg"); }
  .features__icon--3 {
    background: url("../images/features/features-item-icon-3.svg"); }

.rectangle {
  position: absolute;
  width: 1908px;
  height: 563px;
  left: 172px;
  top: 426px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg);
  overflow: hidden; }
  .rectangle:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 200%;
    height: 200%;
    top: 164%;
    left: -8%;
    background: url(../images/features/features-bg.jpg) 0 0 no-repeat;
    -webkit-transform: rotate(65.1deg);
            transform: rotate(65.1deg);
    background-size: auto 110%; }

@media screen and (max-width: 899px) {
  .body__main {
    width: 100vw; }
  .main {
    margin: 0;
    padding: 40px 0; }
  .subheading {
    font-size: 24px; }
  .welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    padding: 0 40px 80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .welcome__text {
      font-size: 16px; }
  .directions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .directions__item {
      margin: 0 0 40px; }
      .directions__item:last-child {
        margin: 0; }
  .process {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .process__item {
      margin: 0; }
  .cards {
    display: grid;
    grid-template-columns: 240px;
    grid-row-gap: 20px; }
    .cards__item:first-child, .cards__item:nth-child(3) {
      margin-top: 0; }
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw; }
    .features__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 0; }
    .features__sunheading {
      width: 100vw; }
    .features .rectangle {
      display: none; }
    .features .icon {
      display: block;
      margin: 0;
      width: 32px;
      height: 32px;
      background-size: contain; }
    .features__text {
      margin: 0 0 40px;
      font-size: 14px; } }

/*# sourceMappingURL=main_part.css.map */
