h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  height: 848px;
  max-width: 1600px;
  background: url("../images/method-draw-image.svg") no-repeat right;
  background-size: cover;
  position: relative;
  border: 1px solid transparent; }
  .header__nav {
    margin-top: 51px; }

@media screen and (max-width: 899px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1200px;
    width: 100vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #56ccf2; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 948px;
  position: relative;
  left: 10%; }
  .nav__list {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent; }
  .nav__item {
    list-style: none;
    line-height: 2;
    margin-right: 62.4px;
    padding-bottom: 5px;
    position: relative; }
    .nav__item::after {
      content: "";
      height: 0;
      width: 100%;
      bottom: 0;
      left: 0;
      border-radius: 2px;
      position: absolute;
      background-color: #fcc304;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      -webkit-animation: nav_decor;
              animation: nav_decor; }
    .nav__item:last-child::after {
      height: 4px; }
    .nav__item:nth-child(6) {
      margin-right: 134.16px; }
    .nav__item:first-child {
      padding: 0;
      font-size: 32px;
      line-height: 1;
      margin-right: 143.04px; }
    .nav__item:hover::after {
      height: 4px; }
    .nav__item:first-child:hover::after {
      height: 0;
      cursor: default; }
  .nav__link {
    font-weight: 900;
    padding: 5px 0;
    white-space: nowrap; }
    .nav__link--hover {
      cursor: default;
      padding: 0; }
      .nav__link--hover:hover {
        display: block;
        -webkit-transform: scale(1.5) rotate(360deg);
                transform: scale(1.5) rotate(360deg);
        -webkit-transition: 0.5s;
        transition: 0.5s; }

@media screen and (max-width: 899px) {
  .nav {
    position: static;
    width: 100%; }
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .nav__item {
      font-size: 30px;
      line-height: 1.25;
      margin: 0; }
      .nav__item:first-child, .nav__item:nth-child(6) {
        margin-right: 0; }
    .nav__item:first-child {
      margin-bottom: 50px; }
    .nav__link--hover {
      font-size: 62px; } }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fcfcfd;
  margin: 0;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

h3,
h1,
p {
  margin: 0; }

.link {
  text-decoration: none;
  color: white; }

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 754px;
  position: relative;
  left: 17%; }
  .heading__main {
    font-family: "Muli", sans-serif;
    font-weight: 900;
    font-size: 64px;
    color: #fff;
    margin-top: 85px; }
  .heading__text {
    font-size: 24px;
    color: white;
    margin-top: 22px; }
  .heading__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 226px;
    height: 56px;
    border-radius: 64px;
    background-color: #fff;
    color: #253757;
    margin-top: 42px;
    border: 1px solid transparent; }
    .heading__link:hover {
      color: #181818;
      background: #f7f7f7 -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f1f1f1));
      background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1); }
    .heading__link:active {
      color: #333333;
      border: 1px solid #cccccc;
      background: #eeeeee -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#e0e0e0));
      background: #eeeeee linear-gradient(#eeeeee, #e0e0e0);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; }

@media screen and (max-width: 899px) {
  .heading {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    position: static;
    padding: 0; }
    .heading__main {
      font-size: 30px;
      padding: 0 40px;
      text-align: center; }
    .heading__text {
      font-size: 20px;
      color: white;
      margin-top: 22px;
      padding: 0 40px;
      text-align: center; } }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 640px;
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
  left: 80px;
  z-index: 1;
  position: relative; }
  .slider__img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative; }
  .slider__networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .slider__link {
    display: block;
    margin-right: 85px;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #253757;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .slider__intro--box {
    position: absolute;
    width: 265px;
    top: 562px;
    left: 8px; }
  .slider__link--intro {
    font-weight: 800;
    font-size: 12.6px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2; }
  .slider__text--intro {
    font-weight: 900;
    font-size: 20px;
    color: #fff; }
  .slider__button {
    position: absolute;
    top: calc(50% - 10px);
    right: calc(100% + 8px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 162px;
    height: 64px;
    border-radius: 50px;
    z-index: 3; }
    .slider__button--left {
      position: relative;
      background-color: #fcc304;
      border-radius: 50% 0 0 50%;
      width: 50%;
      height: 100%;
      -webkit-transition: 1s;
      transition: 1s; }
      .slider__button--left:hover {
        background-color: #8a8a21;
        cursor: pointer; }
    .slider__button--right {
      position: relative;
      background-color: #fcc304;
      border-radius: 0 50% 50% 0;
      width: 50%;
      height: 100%;
      -webkit-transition: 1s;
      transition: 1s; }
      .slider__button--right:hover {
        background-color: #8a8a21;
        cursor: pointer; }

.arrow {
  display: block;
  margin: 20px auto; }

@media screen and (max-width: 899px) {
  .slider {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    width: 100vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .slider__img {
      width: 100vw; }
    .slider__networks {
      display: none; }
    .slider__intro--box {
      top: 1062px;
      left: 98px; } }

.body__main {
  margin-top: 490px; }

.section-heading {
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2; }
  .section-heading:before {
    content: url("../images/sub-title/sub-title-icon-dark.svg");
    margin-right: 16px; }
  .section-heading--lite {
    color: #fff; }
    .section-heading--lite:before {
      content: url("../images/sub-title/sub-title-icon-light.svg"); }

.subheading {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.4;
  color: #253757;
  padding-bottom: 64px; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px; }

.welcome {
  width: 745px;
  padding-bottom: 160px; }
  .welcome__text {
    font-family: Muli, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: #253757; }

.specification {
  background-color: #fff;
  width: 100vw; }
  .specification__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 1;
    text-align: center;
    position: relative;
    bottom: 70px;
    color: #253757; }

.directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 162px; }
  .directions__item {
    width: 264px;
    margin-right: 128px; }
    .directions__item:last-child {
      margin: 0; }
  .directions__img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 64px; }
  .directions__heading {
    font-weight: 900;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px; }

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 160px; }
  .process__item {
    width: 362px;
    margin-right: 187px; }
  .process__text {
    font-size: 16px;
    color: #334563; }

.cards {
  display: grid;
  grid-template-columns: repeat(2, 240px);
  grid-template-rows: repeat(2, 260px);
  grid-column-gap: 58px;
  grid-row-gap: 128px;
  margin-top: 65px; }
  .cards__item {
    width: 240px;
    height: 256px;
    background-color: #fff;
    -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
            box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    text-align: center;
    font-size: 13px;
    color: #253757;
    padding: 0 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .cards__item:first-child, .cards__item:nth-child(3) {
      margin-top: 116px; }
    .cards__item:nth-child(3), .cards__item:nth-child(4) {
      z-index: 1; }
  .cards__number {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    opacity: 0.1;
    position: relative;
    left: calc(120px - 58px);
    top: 48px; }
    .cards__number--1 {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#56ccf2), to(#56ccf2)), #c4c4c4;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #56ccf2, #56ccf2), #c4c4c4; }
    .cards__number--2 {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
    .cards__number--3 {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#03d542), to(#03d542)), #c4c4c4;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #03d542, #03d542), #c4c4c4; }
    .cards__number--4 {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
  .cards__num {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 15px; }
    .cards__num--1 {
      color: #56ccf2; }
    .cards__num--2 {
      color: #fcc304; }
    .cards__num--3 {
      color: #13d84e; }
    .cards__num--4 {
      color: #f36363; }

.features {
  position: relative;
  width: 1600px;
  height: 976px;
  background: #56ccf2;
  overflow: hidden;
  bottom: 47px; }
  .features__info {
    margin-left: 227px;
    margin-top: 198px;
    width: 364px; }
  .features__text {
    display: inline-block;
    color: #fff;
    width: 263px;
    margin-bottom: 64px; }
  .features .icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-right: 32px;
    margin-bottom: 14px; }
  .features__icon--1 {
    background: url("../images/features/features-item-icon-1.svg"); }
  .features__icon--2 {
    background: url("../images/features/features-item-icon-2.svg"); }
  .features__icon--3 {
    background: url("../images/features/features-item-icon-3.svg"); }

.rectangle {
  position: absolute;
  width: 1908px;
  height: 563px;
  left: 172px;
  top: 426px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg);
  overflow: hidden; }
  .rectangle:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 200%;
    height: 200%;
    top: 164%;
    left: -8%;
    background: url(../images/features/features-bg.jpg) 0 0 no-repeat;
    -webkit-transform: rotate(65.1deg);
            transform: rotate(65.1deg);
    background-size: auto 110%; }

@media screen and (max-width: 899px) {
  .body__main {
    width: 100vw; }
  .main {
    margin: 0;
    padding: 40px 0; }
  .subheading {
    font-size: 24px; }
  .welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    padding: 0 40px 80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .welcome__text {
      font-size: 16px; }
  .directions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .directions__item {
      margin: 0 0 40px; }
      .directions__item:last-child {
        margin: 0; }
  .process {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .process__item {
      margin: 0; }
  .cards {
    display: grid;
    grid-template-columns: 240px;
    grid-row-gap: 20px; }
    .cards__item:first-child, .cards__item:nth-child(3) {
      margin-top: 0; }
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw; }
    .features__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 0; }
    .features__sunheading {
      width: 100vw; }
    .features .rectangle {
      display: none; }
    .features .icon {
      display: block;
      margin: 0;
      width: 32px;
      height: 32px;
      background-size: contain; }
    .features__text {
      margin: 0 0 40px;
      font-size: 14px; } }

/*# sourceMappingURL=main.css.map */
